#This file includes the python packages required by our back-end
#In order to install all required packages use the command
#
# pip install -r requirements.txt
#
#Also see https://pip.readthedocs.io/en/1.1/requirements.html

bson
flask
pandas
pymongo
pytest
pytest-cov
pytest-describe
mock
sqlalchemy
waitress
requests
numpy